<div class="container-fluid top-pad">
	<div ng-repeat="pair in content track by $index">
		<div class="row row-centered">
			<div ng-repeat="item in pair track by $index" class="col-sm-5 col-centered">
				<a ng-click="npk(item.pk)" href="#/photography/{{item.name | lowercase}}">
					<div class="card card-inverse collection" ng-init="photo=getPhoto(item, item.pk)">
						<img class="card-img collection-img" ng-src="{{item.photo}}">
						<div class="card-img-overlay collection-txt">
							<h4 class="card-title collection-title">{{item.name}}</h4>
							<p class="card-text collection-description">{{item.description}}</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
